secret.yaml
.esphome
__pycache__
.github/copilot-instructions.md
components/secrets.yaml
components/levoit/.claude/settings.local.json
components/vk16d32_dev.yaml
to_move_out/
**/PXL_*
**/*_dev.yaml
**/common_dev.yaml